@using SitecoreCognitiveServices.Feature.IntelligentSearch.Statics
@model SitecoreCognitiveServices.Feature.IntelligentSearch.Areas.SitecoreCognitiveServices.Models.Setup.SetupInformation

@{
    ViewBag.Title = Translator.Text("Setup.ViewTitle");
    Layout = "~/Areas/SitecoreCognitiveServices/Views/Common/CognitiveLayout.cshtml";
}

@if (Model == null)
{
    return;
}

<link href="/Areas/SitecoreCognitiveServices/Assets/css/SitecoreCognitiveServices.Feature.IntelligentSearch.css?x=@(new System.Random().Next())" rel="stylesheet" type="text/css" />

<div class="frame editor-tab">
    <h2>@Translator.Text("Setup.FormHeading")</h2>
    <form class="form setup-form" method="post" action="/SitecoreCognitiveServices/IntelligentSearch/SetupSubmit">
        <div class="form-scrollable">
            <fieldset>
                <div class="form-row">
                    <p>@Translator.Text("Setup.Description")</p>
                </div>
                <div class="form-row">
                    <p>@Html.Raw(Translator.Text("Setup.AzureLink").Replace("{0}", "<a href=\"https://portal.azure.com/#blade/Microsoft_Azure_Marketplace/GalleryFeaturedMenuItemBlade/selectedMenuItemId/CognitiveServices_MP/resetMenuId/\" target=\"_blank\">Azure Portal</a>"))</p>
                </div>
            </fieldset>
            <fieldset>
                <div class="result-success">
                    @Translator.Text("Setup.SuccessMessage")
                </div>
                <div class="result-failure">
                    @Translator.Text("Setup.FailureMessage")
                </div>
            </fieldset>
            <fieldset>
                <legend>@Translator.Text("Setup.OverwriteLabel")</legend>
                <div class="form-row">
                    @foreach (var a in Model.Applications)
                    {
                        @a.Key <br/> @a.Value
                    }
                    <div>
                        <input type="radio" id="overwriteOption-no" name="overwriteOption" value="false" checked="checked" />
                        <label for="overwriteOption-no">@Translator.Text("Setup.NoOption")</label>
                    </div>
                    <div>
                        <input type="radio" id="overwriteOption-yes" name="overwriteOption" value="true" />
                        <label for="overwriteOption-yes">@Translator.Text("Setup.YesOption")</label>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>@Translator.Text("Setup.LuisApiLabel")</legend>
                <div class="form-row">
                    <input type="text" id="luisApi" name="luisApi" value="@Model.LuisApiKey" />
                </div>
                <legend>@Translator.Text("Setup.LuisApiEndpointLabel")</legend>
                <div class="form-row">
                    <input type="text" id="luisApiEndpoint" name="luisApiEndpoint" value="@Model.LuisApiEndpoint" />
                </div>
            </fieldset>
        </div>
        <div class="scWizardButtons">
            <button class="form-submit scButton scButtonPrimary">@Translator.Text("Setup.ButtonText")</button>
        </div>
        <div class="progress-indicator">
            <div class="progress-bg"></div>
            <div class="progress-image">
                <img src="/sitecore/shell/themes/standard/Images/ProgressIndicator/sc-spinner32.gif" />
            </div>
        </div>
    </form>
</div>

<script src="/Areas/SitecoreCognitiveServices/Assets/js/SitecoreCognitiveServices.Feature.IntelligentSearch.Setup.js"></script>
