@using SitecoreCognitiveServices.Feature.IntelligentSearch.Statics
@model SitecoreCognitiveServices.Feature.IntelligentSearch.Areas.SitecoreCognitiveServices.Models.Setup.SyncApplications

@{
    ViewBag.Title = Translator.Text("Sync.ViewTitle");
    Layout = "~/Areas/SitecoreCognitiveServices/Views/Common/CognitiveLayout.cshtml";
}

@if (Model == null)
{
    return;
}

<link href="/Areas/SitecoreCognitiveServices/Assets/css/SitecoreCognitiveServices.Feature.IntelligentSearch.css?x=@(new System.Random().Next())" rel="stylesheet" type="text/css" />

<div class="frame editor-tab">
    <h2>@Translator.Text("Sync.FormHeading")</h2>
    <form class="form setup-form" method="post" action="/SitecoreCognitiveServices/IntelligentSearch/SetupSubmit">
        <div class="form-scrollable">
            <fieldset>
                <div class="form-row">
                    <p>@Translator.Text("Setup.Description")</p>
                </div>
                <div class="form-row">
                    <p>@Html.Raw(Translator.Text("Sync.AzureLink").Replace("{0}", "<a href=\"https://portal.azure.com/#blade/Microsoft_Azure_Marketplace/GalleryFeaturedMenuItemBlade/selectedMenuItemId/CognitiveServices_MP/resetMenuId/\" target=\"_blank\">Azure Portal</a>"))</p>
                </div>
            </fieldset>
            <fieldset>
                <div class="result-success">
                    @Translator.Text("Sync.SuccessMessage")
                </div>
                <div class="result-failure">
                    @Translator.Text("Sync.FailureMessage")
                </div>
            </fieldset>
            <fieldset>
                <legend>@Translator.Text("Sync.LuisApiLabel")</legend>
                <div class="form-row">
                    <input type="text" id="luisApi" name="luisApi" value="@Model.LuisApiKey" />
                </div>
                <legend>@Translator.Text("Sync.LuisApiEndpointLabel")</legend>
                <div class="form-row">
                    <input type="text" id="luisApiEndpoint" name="luisApiEndpoint" value="@Model.LuisApiEndpoint" />
                </div>
            </fieldset>
        </div>
        <div class="scWizardButtons">
            <button class="form-submit scButton scButtonPrimary">@Translator.Text("Sync.ButtonText")</button>
        </div>
        <div class="progress-indicator">
            <div class="progress-bg"></div>
            <div class="progress-image">
                <img src="/sitecore/shell/themes/standard/Images/ProgressIndicator/sc-spinner32.gif" />
            </div>
        </div>
    </form>
</div>

<script src="/Areas/SitecoreCognitiveServices/Assets/js/SitecoreCognitiveServices.Feature.IntelligentSearch.SyncApplications.js"></script>
